@model MIS4200_Team10.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User Recognition Details</h4>
    <hr />
    
    @{
        var total = ViewBag.Total;
        <h2>Total Recognitions Received = @total</h2>   
        var excellence = ViewBag.Excellence;
        <h3>Commit to Delivery Excellence = @excellence</h3>     
        var integrity = ViewBag.Integrity;
        <h3>Embrace Integrity and Openness = @integrity</h3>
        var stewardship = ViewBag.Stewardship;
        <h3>Practice Responsible Stewardship = @stewardship</h3>
        var culture = ViewBag.Culture;
        <h3>Invest in an Exceptional Culture = @culture</h3>       
        var ignite = ViewBag.Ignite;
        <h3>Ignite Passion for the Greater Good = @ignite</h3>       
        var innovate = ViewBag.Innovate;
        <h3>Strive to Innovate = @innovate</h3>        
        var balanced = ViewBag.Balanced;
        <h3>Live a Balanced Life = @balanced</h3>
    }    
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
